# Ignore everything by default
*
secrets.yaml
**/secrets.yaml

# ✅ Allow essential files in the root directory
!.gitignore
!README.md
!Network.png

# ✅ Allow files and folders in ha-server
!ha-server/
!ha-server/README.md
!ha-server/configuration.yaml
!ha-server/automations.yaml
!ha-server/.includes/
!ha-server/.includes/**
!ha-server/esphome/
!ha-server/esphome/**
!ha-server/scripts/
!ha-server/scripts/**

# ✅ Allow files and folders in ha-kottbo
!ha-kottbo/
!ha-kottbo/README.md
!ha-kottbo/configuration.yaml
!ha-kottbo/automations.yaml
!ha-kottbo/.includes/
!ha-kottbo/.includes/**
!ha-kottbo/esphome/
!ha-kottbo/esphome/**
!ha-kottbo/scripts/
!ha-kottbo/scripts/**

# ✅ Allow files and folders in ha-front
!ha-front/
!ha-front/README.md
!ha-front/configuration.yaml
!ha-front/automations.yaml
!ha-front/.includes/
!ha-front/.includes/**
!ha-front/esphome/
!ha-front/esphome/**
!ha-front/scripts/
!ha-front/scripts/**

# 🔒 Block secrets
secrets.yaml
**/secrets.yaml
ha-server/esphome/secrets.yaml
ha-kottbo/esphome/secrets.yaml
ha-front/esphome/secrets.yaml
